<% provide(:title, 'Sign in') %>
<h1>Sign in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url:login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Log In", class: "btn btn-primary" %>
    <% end %>
    <p>New User? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>