<%= link_to gravatar_for(logged_in_user, size: 50), logged_in_user %>
<h1><%= logged_in_user.name %></h1>
<span><%= link_to "view my profile", logged_in_user %></span>
<span><%= pluralize(logged_in_user.microposts.count, "micropost") %></span>